.tm-edit-product-row{
    padding-bottom: 20px;
}
.tm-product-img-dummy {
height: 200px;
}
body > div.container.tm-mt-big.tm-mb-big > div > div > div > div.row.mb-2 > div > h2{
    margin-top: 10px;
}


.form-control:focus {
    box-shadow: none;

}

.profile-button {
    box-shadow: none;
    border: none
}

.pass_show{position: relative}

.pass_show .ptxt {

    position: absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color: #f36c01;

    margin-top: -10px;

    cursor: pointer;

    transition: .3s ease all;

}

.pass_show .ptxt:hover{color: #333333;}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f36c01;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #854b15;
}
