.tm-edit-product-row {
    padding-bottom: 20px;
}

.tm-product-img-dummy {
    height: 200px;
}

body > div.container.tm-mt-big.tm-mb-big > div > div > div > div.row.mb-2 > div > h2 {
    margin-top: 10px;
}


.form-control:focus {
    box-shadow: none;

}

.profile-button {
    box-shadow: none;
    border: none
}

.pass_show {
    position: relative
}

.pass_show .ptxt {

    position: absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color: #f36c01;

    margin-top: -10px;

    cursor: pointer;

    transition: .3s ease all;

}

.pass_show .ptxt:hover {
    color: #333333;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f36c01;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #854b15;
}

.fileTo {
    background: #f36c01;
    border: 1px solid #f36c01;
    position: relative;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    float: left;
    cursor: pointer
}

.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 20px;
    width: 100%;

}

.barStyle {
    color: #e2622b;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);

}

.iniBarStyle {
    color: #2b7de2;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
}