
body {
	background: url("../img/2095724.png");
	background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus, i {
	color: #FFFFFF;
	font-size: 24px;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: bolder;
    color: #d2d2d2;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #009688; color: #fff; text-shadow: none; }
::selection { background: #009688; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 20px;
	margin: 5px;
	padding: 10px 20px 0 20px;
	background: #009688;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 30px;
	margin: 5px;
	padding: 10px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 5px 0 5px 0;
}

.top-content .description {
	margin: 5px 0 10px 0;
}

.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #009688; }

.form-box {
	margin-top: 10px;
}

.form-top {
	overflow: hidden;
	padding: 0 10px 5px 10px;
	background: #f3f3f3;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 10px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}


.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #e71919;
}





.middle-border {
	min-height: 250px;
	margin-top: 100px;
	border-right: 1px solid #ddd;
}


/***** Footer *****/
.secure{
	width: 100%;
	text-align: center;
	margin: 50px 0px;
}
.secure div {
	margin: 0 auto;
	text-align: center;
}

 .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 10px;
	border-top: 1px solid #ddd;
}




/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0; border-top: 1px solid #ddd; }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

